{% extends 'base.html.twig' %}

{% block title %}Ingredients{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Mes ingrédients</h1>
        <a class="btn btn-primary" href="{{ path('app_ingredient_new') }}" role="button">Créer un ingrédient</a>
    </div>

    <div class="count text-primary mb-3">
        <small>{{ ingredients.getTotalItemCount }} ingrédients au total</small>
    </div>

    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">{{ knp_pagination_sortable(ingredients, 'ID', 'i.id') }}</th>
                <th scope="col">{{ knp_pagination_sortable(ingredients, 'Nom', 'i.name') }}</th>
                <th scope="col">{{ knp_pagination_sortable(ingredients, 'Prix', 'i.price') }}</th>
                <th scope="col">{{ knp_pagination_sortable(ingredients, 'Date de création', 'i.createdAt') }}</th>
                <th scope="col">Modification</th> 
                <th scope="col">Suppression</th> 
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
                <tr class="table-light">
                    <th scope="row">{{ ingredient.id }}</th>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.price }}</td>
                    <td>{{ ingredient.createdAt|date('d/m/Y') }}</td>
                    <td><a href="{{ path('app_ingredient_edit', {id: ingredient.id}) }}" class="btn btn-warning btn-sm">Modifier</a> 
                    </td>
                    <td><a href="{{ path('app_ingredient_delete', {id: ingredient.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr class="table-light">
                    <td colspan="6">Aucun ingrédient trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        <div class="d-flex justify-content-center mt-4"> 
    {{ knp_pagination_render(ingredients) }}
</div>
    </div>
</div>
{% endblock %}